{% extends 'base/base.html' %}
{% block body %}
{% load static %}
<div class="container mt-4" id="main-div">
    <!-- <div class="progress"> -->
    <!-- <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div> -->
    <!-- </div> -->
    <h1>Download</h1>
    {% if error != "none" %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form id="link-form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">SoundCloud URL</label>
            {{form.link}}
            {{form.link.errors}}
        </div>
        <button type="submit" class="btn btn-primary" id="button-next">Next</button>
    </form>
    <div id="download-progress">
    </div>
    {% if downloadLink != "none" %}
    <h2>You're file is ready for download</h2>
    <h3>\/ Downlaod Now! \/</h3>
    <a href="media/downloader/newSong.mp3" download>
        <img src="{% static 'downloader/downloadicon.png' %}" alt="">
    </a>

    {% endif %}
</div>

<script>
    $("#link-form").submit(function (e) {
        e.preventDefault();
        $("#download-progress").addClass("progress");
        $("#download-progress").append(
        '<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>'
        );
        $("#button-next").remove();
        $("#download-files").remove();
        var serializedData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: "{% url 'downloading' %}",
            data: serializedData,
            success: function (response) {
                $("#link-form").append(
                    '<button type="submit" class="btn btn-primary" id="button-next">Next</button>'
                );
                $("#download-progress").empty();
                $("#download-progress").removeClass();
                $("#main-div").append(`
                    <div id="download-files">
                        <h2>You're file is ready for download</h2>
                        <h3>\\/ Downlaod Now! \\/</h3>
                        <a href="media/downloader/newSong.mp3" download>
                            <img src="{% static 'downloader/downloadicon.png' %}" alt="">
                        </a>
                    </div>
                `);

            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
                $("#link-form").append(
                    '<button type="submit" class="btn btn-primary" id="button-next">Next</button>'
                );
                $("#download-progress").empty();
                $("#download-progress").removeClass();
            }
        })
    })
</script>
{% endblock body %}